header {
    background: url(images/dogs.jpg) 0-200px no-repeat;
    height: 400px;
    background-size: 1420px;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px; 
    color:rgb(56, 98, 221);
}
nav {
    background-color: rgb(250, 198, 161);
    height: 50px;
    text-align: center;
    padding-top: 2px;
}
li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
}
li a{
    text-decoration: none;
}
/* Pesudo Class - to style text links */
li a:link { /*before click*/
    color: #000;
}
li a:visited {
    color: #495fa7;
}
li a:hover {
    color: #333;
}
li a:active{
    color: #753a30;
}
main{
    margin: 50px 100px;
}
main h1{
    color:rgb(54, 87, 197);
    font-family: Arial, Helvetica, sans-serif;
}
main p{
    font-family: 'Times New Roman', Times, serif;
    color:rgb(50, 75, 163);
}
main #album #photo img{
    width: 400px;
    height: 300px;
    padding-left: 100px;
}
footer{
    height: 40px;
    background-color: rgb(129,141,179);
    text-align: center;
    padding-top: 20px;
    color:rgb(211,218,240);
}
/* Page 2 */
table {
    margin-top: 35px;
}
table, caption, th, td{
    border: 1px solid #000;
}
th, td{
    width: 150px;
    height: 35px;
    text-align:center;
}
caption {
    text-transform: uppercase;
    font-weight: 600;
    height: 400;
    padding-top: 15px;
    color:#373075;
}
/* Page 3 */
label {
    display: block;
    margin: 15px 0 0 0;
}
input, textarea{
    width: 300px;
}
textarea{
    display: block;
}
input[type="radio"] { /* attribute selector */
    width: 25px;
}
input[type="submit"], input[type="reset"] {
    margin: 20px 0 10px 0;
    width: 100px;
}